.lle-heading{
	background-color:#253c55;
	color:#fff;
	padding:10px;
	display:block;
	margin-right:20px;
}
.lle-heading h1{
	color:#fff;
	display:inline-block;
}
button.lle-button{
	background-color:#3399bd;
	color:#fff;
	font-weight:700;
	border:none;
	padding:5px;
	margin-left:10px;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
}
button.lle-button:hover{
	background-color:#fff;
	color:#3399bd;
}
form.lle-options-form{
	width:50%;
	float:left;
}

.lle-preview{
	display:inline-block;
}
